@import url('https://fonts.googleapis.com/css?family=Poller+One&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5%;
  font-family: 'Poller One', cursive;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
